
{% extends 'base.html.twig' %}

{% block title %}Hello ClasseController!{% endblock %}

{% block body %}

<table class="table table-hover text-center ">
    <thead class="table-dark">
        <tr>
            <th scope="col1">Libelle</th>
            <th scope="col1">Filiere</th>
            <th scope="col1" >Niveau</th>
            <th>Action1</th>
            <th>Action2</th>
        </tr>
    </thead>
    <tbody>
      {% for classe in classes %}
    <tr>
        <td>{{classe.niveau}} </td>
        <td>{{classe.filiere}} </td>
        <td>{{classe.libelle}} </td>
        <td><button class='btn btn-warning'>Modifier</button></td>
        <td><button type="submit" class='btn btn-danger'>Supprimer</button></td>
    </tr>
{% endfor %}
</table>
    <class="d-flex justify-content-center">
    {% do classes.setPageRange(10) %}
    {{knp_pagination_render(classes,'base/pagination.html.twig')}}
{% endblock %}
