{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}

<table class="table table-hover text-center ">
    <thead class="table-dark">
        <tr>
            <th scope="col1">Matricule</th>
            <th scope="col1">Sexe</th>
            <th scope="col1" >Addresse</th>
            <th>Action1</th>
            <th>Action2</th>
        </tr>
    </thead>
    <tbody>
      {% for etudiant in etudiants %}
    <tr>
        <td>{{etudiant.matricule}} </td>
        <td>{{etudiant.sexe}} </td>
        <td>{{etudiant.addrese}} </td>
        <td><button class='btn btn-warning'>Modifier</button></td>
        <td><button type="submit" class='btn btn-danger'>Supprimer</button></td>
    </tr>
{% endfor %}
</table>
    <class="d-flex justify-content-center">
    {% do classes.setPageRange(10) %}
    {{knp_pagination_render(etudiants,'base/pagination.html.twig')}}
{% endblock %}
